.back{
    background-image: url(https://repository-images.githubusercontent.com/275336521/20d38e00-6634-11eb-9d1f-6a5232d0f84f);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
#logo{
    width: 150px;
    margin-left: 120px;
}
#sela{
    width: 110px;
    margin-left: 700px;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    border-radius: 6px;


}
#sin{
    width: 75px;
    border-radius: 6px;
    background-color: red;
    color: aliceblue;
}
#main{
    color: white;
    
    margin-top: 70px;
    margin-left: 360px;
    font-size: 360%;
    font-weight: 1000;
}
#second{
    color: white;
    margin-left: 500px;
}
#para{
    color: white;
    margin-left: 390px;
}
.bar{
    width: 340px;
    height: 61px;
    margin-left: 350px;
    background-color: rgba(0, 0, 0, 0.543);
    border-radius: 6px;
}
#gs{
    width: 250px;
    height: 60px;
    border-radius: 7px;
    background-color: red;
    color: white;
}
.page{
    background-image: url(https://blackscreen.space/images/pro/black-screen_39.png);
    height: 2200px;
    
}
#now{
    color: white;
    margin-left: 180px;

    
}
#place{
    width: 110px;
    height: 35px;
    margin-left: 180px;
    background-color: rgba(0, 0, 0, 0.189);
    border-radius: 6px;
    color: white;
}
#mov{
    width: 110px;
    height: 35px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.203);
    border-radius: 6px;
    color: white;
}
#first{
    width: 200px;
    margin-left: 160px;
    border-radius: 15px;
}
#two{
    width: 236px;
    margin-left: 50px;
    border-radius: 15px;
}
#three{
    width: 200px;
    margin-left: 50px;
    border-radius: 15px;


}
#foury{
    width: 200px;
    margin-left: 50px;
    border-radius: 15px;
}
.reasons{
    border: solid rgba(0, 0, 0, 0);
    width: 250px;
    padding: 10px;
    height: 330px;
    margin-left: 100px;
    border-radius: 15px;
    color: white;
    background-color: rgba(43, 15, 204, 0.603);
}
#third{
    margin-left: 170px;
    color: white;
}
.shows{
    border: solid rgba(0, 0, 0, 0);
    width: 250px;
    padding: 10px;
    height: 330px;
    margin-left: 400px;
    
    border-radius: 15px;
    color: white;
    background-color: rgba(43, 15, 204, 0.603);


}
.card{
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-left: 150px;
    margin-right: 50px;
    border-radius: 18px;
    background-color: rgba(149, 89, 238, 0.224);
    color: white;
}
#fre{
    color: white;
    margin-left: 160px;
}
.accordion{
    margin-left: 150px;
    margin-right: 50px;
}
#enter{
    margin-left: 400px;
    color: white;
}
.baar{
    width: 640px;
    padding: 15px;
    height: 60px;
    margin-left: 200px;
    border-radius: 6px;
    background-color: rgba(42, 40, 40, 0.306);
}
#get{
    width: 250px;
    height: 60px;
    border-radius: 6px;
    background-color: red;
    color: white;
    font-size: 130%;

}
#call{
    color: rgb(171, 168, 168);
    margin-left: 130px;
}
.col order-last{
    color: white;
}
.list{
    margin-left: 100px;
    color: rgb(12, 11, 11);
    
    
}
#ind{
    width: 110px;
    height: 30px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.151);
    margin-left: 130px;
    color: white;
}
#lst{
    margin-left: 130px;
    color: rgb(159, 158, 158);
}
.foot2{
    margin-left: 50opx;
    color: rgb(116, 114, 114);
}
.accordion-items{
    background-color: rgb(48, 39, 39);
    color: white;

}
.accordion-collapse{
    background-color: rgb(48, 39, 39);
    color: white;
}
.heading{
    color: white;
    background-color: rgb(48, 39, 39);
}
.accordion-header{
    color: white;
    background-color: black;
}
.accordion-button{
    color: white;
    background-color: rgb(48, 39, 39);
    border: solid black 5px;
}
/*media quiry*/
@media only screen and (max-width:600px){
    .back{
        margin: 100px;
        background-size: cover;
    }
    #logo{
        width: 100px;
        margin-left: 10px;
    }
    #sela{
        margin-left: 150px;
        width: 60px;
        height: 20px;
        font-size: 60%;
    
    }
    #sin{
        width: 50px;
        height: 20px;
        font-size: 60%;

    }
    #main{
        margin-left: 50px;
        font-size: 180%;
    }
    #second{
        margin-left: 100px;
        font-size: small;
    }
    #para{
        margin-left: 50px;
        font-size: 70%;
        
    }
    .bar{
        font-size: 90%;
        width: 200px;
        height: 40px;
        margin-left: 50px;

    }
    #gs{
        font-size: 70%;
        width: 100px;
        height: 40px;
        
    }
    #now{
        margin-left: 50px;
        font-size: medium;
    }
    #place{
        margin-left: 50px;
        width: 60px;
        height: 20px;
        font-size: 70%;
    }
    #mov{
        width: 60px;
        height: 20px;
        font-size: 70%;
    }
    #first{
        margin-left: 30px;
        width: 110px;
        
    }
    #two{
        width: 120px;
        margin-left: 10px;
    }
    #three{
        width: 110px;
        margin-left: 10px;
    }
    #foury{
        margin-left: 10px;
        width: 120px;
        height: 160px;
    }
    #third{
        margin-left: 50px;
        font-size: medium;
    }
    .card{
        margin-left: 990px;
        margin-right: 20px;
        margin-top: 10px;
        font-size: small;

    
    }
    #fre{
        margin-left: 50px;
        font-size: medium;
    }
    .accordion-item{
        margin-right: 100px;
    }
    #enter{
        margin-left: 50px;
    }
    .baar{
        margin-left: 70px;
        width: 300px;
        height: 40px;
    }
    #get{
        width: 150px;
        height: 40px;
        font-size: small;
    }
    .foot2{
        font-size: small;
    }
    #ind{
        margin-left: 50px;
        font-size: smaller;
        height: 20px;
        width: 80px;
    }
    #lst{
        margin-left: 50px;
        font-size: smaller;
    }

}
